@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.font-roboto {
  font-family: "Roboto", sans-serif;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f0c1a;
}

button,
button:focus,
button:active,
div:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  box-shadow: none !important;
}

.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track,
.custom-scrollbar *::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar *::-webkit-scrollbar-thumb {
  background: #3b354f;
  border-radius: 10px;
  border: 1px solid #120f1d;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover,
.custom-scrollbar *::-webkit-scrollbar-thumb:hover {
  background: #facc15;
}

/* Fix para Firefox (PC) */
.custom-scrollbar,
.custom-scrollbar * {
  scrollbar-width: thin;
  scrollbar-color: #3b354f transparent;
}

:focus-visible {
  outline: 2px solid #facc15;
  outline-offset: 4px;
  border-radius: 4px;
}
